/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

/* Container principal */
.logoFundo {
    width: 50%;/* Metade da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A4973; /* Fundo azul */
}

.logoFundo img { /* Ajuste a largura conforme necessário */
    height: auto;
}

/* Wrapper do formulário */
.wrapper {
    width: 50%; /* Outra metade da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Fundo branco */
}

.form-box {
    width: 100%;
    max-width: 600px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Form Header */
.form-box h2 {
    font-size: 3em;
    color:  #0A4973;
    text-align: center;
    margin-bottom: 25px;
}

/* Input Box */
.input-box {
    position: relative;
    height: 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid #162938;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px;
    box-sizing: border-box;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    font-size: 0.8em;
}

/* Icon */
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
}

/* Show Password Checkbox */
.show-password-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.show-password-container input {
    margin-right: 10px;
}

/* Button */
.btn {
    width: 100%;
    height: 45px;
    background: #ff8800;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
}

/* Error Tooltip */
.error-tooltip {
    display: none;
    position: absolute;
    background: #ffffff;
    color: #000000;
    border: 1px solid #162938;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    font-family: sans-serif, serif;
    font-weight: bold;
    max-width: 250px;
    z-index: 1000;
    top: 120%;
    left: 40%;
    box-shadow: 5px 4px 6px rgb(208, 208, 208);
}

.error-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #162938 transparent;
}

.error-container {
    display: block;
    background-color: #0A4973;
    color: #ffffff;
    border: 1px solid #083d5e;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .logoFundo,
    .wrapper {
        width: 100%;
    }

    .form-box h2 {
        font-size: 2.5em;
    }
}
