/* Reseta estilos básicos e define background */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: #0A4973;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo a img {
    height: 100px;
    width: auto;
    max-width: 100%;
    margin-left: 40%;
}


.product-gallery {
    display: flex;
    gap: 10px;
    margin-right: 150px;
    border-radius: 5px;
    /* Ajuste este valor para aumentar ou diminuir o espaço */
}




.prodDesc p {
    margin: 20px;
    padding: 20px 5px;
    background-color: #fefeff;
    border-radius: 20px;
}

.prodDesc h1 {
    font-size: 2.5em;
    padding: 5px;
    margin-top: 10px;
    color: #fff;
}

.prodDesc p {
    font-size: 1.1em;
    font-weight: bold;
}

/* Estilos para a seção dos botões abaixo de prodDesc */
.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* Espaço entre a descrição do produto e os botões */
}

.button-container button {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border: 2px solid #fb9815;
    border-radius: 5px;
    background-color: rgb(245, 131, 0);
    color: #fff;
    width: 300px;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #ffffff;
}
.prodDesc{
    margin-top: 100px;
    border-radius: 20px;
    width: 60%;
    background-color: #0a4072;
    box-shadow: 7px 9px 11px rgb(7, 42, 76);
}
a{
    text-decoration: none;
    color: #ffffff;
}
h4#descricao{
    color: #fb9815;
}
