<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load static %}
    <link rel="stylesheet" href="/css/Agendamentos.css" />
    <title>Agendamentos</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="home.html"
          ><img src="/img/Logo_pequena.png" alt="Busca Pharma"
        /></a>
      </div>
      <nav>
        <ul>
          <li><a href={% url 'home' %}>Home</a></li>
          <li><a href="../TCC.v4/TCC/Medicamentos.html">Medicamentos</a></li>
          <li><a href="Agendamentos.html" class="active">Agendamentos</a></li>
        </ul>
      </nav>
      <div class="auth-buttons" style="font-size: large">
        <button class="register-btn"><a href = {% url 'cadastro' %} } >Cadastrar-se</a></button>
        <button class="login-btn"><a href={% url 'login' %}>Entrar</a></button>
      </div>
    </header>
    <div class="title">
      <h1>Meus Agendamentos</h1>
    </div>
    <section id="cards">     
    </section>
  </body>
</html>
