<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicamentos</title>
    <link rel="stylesheet" href="teste.css">
</head>

<body>

    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            <img src="img/Logo_pequena.png" alt="Busca Pharma">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Agendamentos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="register-btn"><a href="register.html">Cadastrar-se</a></button>
            <button class="login-btn"><a href="login.html">Entrar</a></button>
        </div>
    </header>

    <!-- Barra de Pesquisa -->
    <div class="search-container">
        <input type="text" placeholder="Insira o nome do medicamento" class="search-input" id="search-bar">
    </div>

    <div class="container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Princípio Ativo</th>
                    <th>Quantidade</th>
                    <th>Tarja</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Linhas serão geradas dinamicamente aqui -->
            </tbody>
        </table>
    </div>

    <script src="teste.js"></script>
</body>

</html>