{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Pharma</title>
    <link rel="stylesheet" href="{% static 'css/busca.css' %}">
</head>

<body>
    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            <img src="{% static 'css/Logo_pequena.png' %}" alt="Busca Pharma">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Medicamentos</a></li>
                <li><a href="#">Agendamentos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="register-btn"><a href="register.html">Cadastrar-se</a></button>
            <button class="login-btn"><a href="login.html">Entrar</a></button>
        </div>
    </header>

    <!-- Barra de Pesquisa -->
    <div class="search-container">
        <form method="get" action="{% url 'busca' %}">
            <input type="text" name="query" placeholder="Insira o nome do medicamento" class="search-input" value="{{ form.cleaned_data.query }}">
            <button type="submit" class="search-btn">Buscar</button>
        </form>
    </div>

    <!-- Exibição de Produtos -->
    <section class="product-grid" id="product-grid">
        {% for item in itens %}
        <div class="product-card">
            <img src="{% static 'images/placeholder.png' %}" alt="{{ item.nome_item }}" class="product-image">
            <p class="product-name">{{ item.nome_item }}</p>
            <button class="product-btn">Ver Mais</button>
        </div>
        {% empty %}
        <p>Nenhum item encontrado.</p>
        {% endfor %}
    </section>

    <script src="{% static 'js/busca.js' %}"></script>
</body>

</html>
