<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Admin</title>
  <link rel="stylesheet" href="css/cadastro_admin.css">
</head>

<body>

  <header>
    <div class="logo">
      <a href="#"><img src="img/Logo_pequena.png" alt="Busca Pharma" /></a> <!-- Caminho da logo -->
    </div>
  </header>


  <div class="fundoShow"></div>

  <div class="wrapper">
    <div class="form-box Register">
      <h2>Cadastro Admin</h2>
      <div class="error-container" id="error-container"></div> <!-- Mensagem de erro -->

      <form action="cadastro_admin" method="POST" id="form"> <!-- Ajustar a ação do formulário -->
        <input type="hidden" name="id_unidade" value="YOUR_UNIDADE_ID"> <!-- Adicione seu valor de id_unidade aqui -->

        <!-- Campo Username -->
        <div class="input-box">
          <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
          <input id="username" type="text" name="username" required>
          <label>Username</label>
          <div id="username-error" class="error-tooltip"></div>
        </div>

        <!-- Campo Nome Completo -->
        <div class="input-box">
          <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
          <input type="text" id="nome_completo" name="nome_completo" required>
          <label>Nome Completo</label>
          <div id="nome-completo-error" class="error-tooltip"></div>
        </div>

        <!-- Campo Senha -->
        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
          <input type="password" id="password" name="password" required>
          <label>Senha</label>
          <div id="password-error" class="error-tooltip"></div>
        </div>

        <!-- Campo Confirmar Senha -->
        <div class="input-box">
          <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
          <input type="password" id="confirm-password" name="password2" required>
          <label>Confirmar Senha</label>
          <div id="confirm-password-error" class="error-tooltip"></div>
        </div>

        <!-- Checkbox para mostrar/ocultar senha -->
        <div class="show-password-container">
          <input type="checkbox" id="show-password">
          <label for="show-password">Mostrar Senha</label>
        </div>

        <button type="submit" class="btn" id="btn-registrar">Registrar admin</button>

        <div class="link-container">
          <a href="#">Voltar</a>
        </div>

      </form>
    </div>
  </div>

  <script src="JavaScript/cadastro_admin.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
