{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="{% static 'css/login_admin_geral.css' %}">
</head>

<body>
   <header>
        <div class="logo">
            <img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/>
        </div>
    </header>

<div class="wrapper" style="height: max-content">
  <div class="form-box Register">
    <h2>Editar Perfil</h2>
    {% if messages %}
        <div id="login-erro" class="error-message">
            {% for message in messages %}
                <div class="mensagem">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
   <script>
        window.onload = function() {
            const mensagem = document.querySelector('.mensagem');
            const mensagemDiv = document.querySelector('.error-message');
            mensagem.style.width= '';
            
            if (mensagem && mensagem.textContent === 'Alteração realizada com sucesso!') {
                setTimeout(() => {
                    mensagem.style.display = 'none'; // Oculta a mensagem
                    window.location.href = "{% url 'home' %}"; // Redireciona para a página inicial
                }, 2000);
            }
        };
    </script>
    <form action="{% url 'editar_perfil_usuario' %}" method="POST" id="form">
        {% csrf_token %}
      <div class="input-box">
        <span class="icon"><ion-icon name="email-outline"></ion-icon></span>
        <input id="email" type="text" name="email" value="{{ user.email }}">
        <label>Email</label>
        <div id="email-error" class="error-tooltip"></div>
      </div>
      <div class="input-box">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <input id="nome" type="text" name="username" value="{{ user.first_name }} {{ user.last_name }}">
        <label>Nome Completo</label>
        <div id="nome-error" class="error-tooltip"></div>
      </div>

      <div class="input-box">
        <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
        <input id="cpf" type="text" name="cpf" value="{{ user.cpf }}" readonly>
        <label>CPF</label>
        <div id="cpf-error" class="error-tooltip"></div>
      </div>

      <div class="ddd-phone-container">
       <div class="input-box-tiny">
           <label for="ddd-select">DDD</label>
           <select id="ddd-select" class="ddd-select" name="ddd">
               {% for ddd in ddd_list %}
                   <option value="{{ ddd }}">{{ ddd }}</option>
               {% endfor %}
           </select>
       </div>

        <div class="input-box">
          <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
          <input type="text" id="phone" name="telefone" value="{{ telefone }}">
          <label>Telefone</label>
          <div id="phone-error" class="error-tooltip"></div>
        </div>
      </div>

      <button type="submit" class="btn" id="btn-atualizar">Atualizar</button>

      <div class="login-register">
        <p>Deseja cancelar? <a href="{% url 'home' %}">Voltar para Home</a></p>
      </div>
      <div class="login-register">
          <p>Mudar senha? <a href="{% url 'redefinir_senha' %}">Clique aqui</a></p>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'js/cadastro_usuario.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons/.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons/.js"></script>
</body>

</html>
