<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/homeAdminGeral.css' %}">
</head>
<body> 
    <header>
        <div class="logo">
          <a href="#"><img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/></a>
        </div>
        <nav>
            <a href="{% url 'criar_admin_unidade' id_unidade username %}">Cadastrar Admins</a>
            <a href="{% url 'cria_evento' username id_unidade %}">Criar Eventos</a>  <!-- Link para Criar Eventos -->
        </nav>
    </header>
    <div class="search-container">
        <input type="text" placeholder="Procure pela unidade:" class="search-input" id="search-bar">
        <a href="homeAdminGeral.html"><button>Buscar Unidade</button></a>
    </div>
    <section>
         {% for admin in admins %}
        <div class="card">
            <div class="card-header">
                <span class="status-indicator {% if admin.status == 'online' %}online{% else %}offline{% endif %}"></span>
                <h1>Administrador - {{ admin.username }}</h1><br>
            </div>
            <div class="nome">
                <h3>Nome: {{ admin.first_name }} {{ admin.last_name }}</h3>
            </div>
            <div class="li">
                <ul>
                    <li>Unidade: {{ admin.id_unidade }}</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="edit-button">Editar Admin</button>
            </div>
        </div>
        {% empty %}
            <p>Nenhum administrador encontrado.</p>
        {% endfor %}
    </section>
    <script src="../TCC.v4/TCC/TCC/javaScript/homeAdminGeral.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
