<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Pharma</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/universal.css' %}">
</head>
<header>
    <div class="logo">
        <a><img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/></a>
    </div>
    <nav>
        <ul>
            <li><a class="active">Home</a></li>
            <li><a href="{% url 'busca' %}">Medicamentos</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <button class="register-btn"><a href="{% url 'cadastro' %}">Cadastrar-se</a></button>
        <button class="login-btn"><a href="{% url 'login' %}">Entrar</a></button>
    </div>
</header>
<body>
    <div class="search-container" style="background-color: #ffffff">
        <input type="text" placeholder="Insira o nome do medicamento" class="search-input" id="search-bar">
        <button id="search-btn">Buscar Remédio</button>
    </div>
    <section class="notice">
        <div class="title">
            <h1>Saúde ao alcance de todos!</h1>
            <div>
                <p class="paragrafh">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Cum distinctio velit dolore maiores est magni, voluptas
                     fugit illum aspernatur aliquam quod veritatis, mollitia
                     natus accusamus deserunt pariatur quasi voluptates harum
                     sed. Eligendi esse accusantium, natus aliquam iure earum
                     necessitatibus ea, possimus quia error, enim ullam.
                </p>
            </div>
        </div>
        <img src="{% static 'img/Enfermeiro1-.png' %}" alt="imagem" id="img">
    </section>
    <h1 id="eventos">Eventos em Unidades</h1>
    <section>
    {% for evento in eventos %}
    <div class="proced">
        <div>
            <h2>{{ evento.titulo }}</h2>
            <div class="coluna">
                <h3>{{ evento.nome_medicamento }}</h3>
                <h3>{{ evento.data|date:"d/m/Y" }}</h3>
                <h3>{{ evento.horario_inicio|time:"H:i" }}/{{ evento.horario_encerramento|time:"H:i" }}</h3>
            </div>
        </div>
        <p>
            {{ evento.descricao }}
        </p>
        <iframe src="https://www.google.com/maps/embed/v1/place?key=cahve={{ evento.latitude }},{{ evento.longitude }}&zoom=18"
        width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen></iframe>

    </div>
    {% endfor %}
    </section>

    <script>
        document.getElementById('search-btn').addEventListener('click', function (event) {
            event.preventDefault(); // Evita o comportamento padrão do botão
            const searchQuery = document.getElementById('search-bar').value;
            if (searchQuery) {
                localStorage.setItem('medicamentoBusca', searchQuery); // Armazena o valor no localStorage
                window.location.href = "{% url 'busca' %}"; // Redireciona para a página de busca
            }
        });
    </script>
</body>
</html>
