{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizar {{ item.nome_item }}</title>
    <link rel="stylesheet" href="{% static 'css/localizar_remedio.css' %}">
</head>

<body>

    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/Logo_pequena.png' %}" alt="BuscaPharma">
            </a>
        </div>

        <nav>
            <a class="linksExternos" href="{% url 'home' %}">Home</a>
            <a class="linksExternos" href="#">About</a>
            <a class="linksExternos" href="#">Agendamentos</a>
            <a class="linksExternos" href="#">Contact</a>
            <a class="botoes" href="{% url 'login' %}"><button class="btnRegister">Cadastre-se</button></a>
            <a class="botoes" href="{% url 'cadastro' %}"><button class="btnLogin">Logar</button></a>
        </nav>
    </header>

    <!-- Seção de farmácias -->
    <section class="farmacias">
        <h2>Disponibilidade de {{ item.nome_item }}</h2>
        <ul>
            {% for unidade_info in unidades_com_quantidade %}
                <li>{{ unidade_info.unidade.nome }} - Quantidade: {{ unidade_info.quantidade_atual }}</li>
            {% empty %}
                <li>Nenhuma unidade disponível para este item no momento.</li>
            {% endfor %}
        </ul>
    </section>

    <script src="{% static 'javaScript/produto.js' %}"></script>
</body>

</html>
