<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/localizar remedio.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="img/Logo_pequena.png" alt="BuscaPharma">
            </a>
        </div>

        <nav>
            <a class="linksExternos" href="index.html">Home</a>
            <a class="linksExternos" href="#">About</a>
            <a class="linksExternos" href="#">Agendamentos</a>
            <a class="linksExternos" href="#">Contact</a>
            <a class="botoes" href="user_login.html"><button class="btnRegister">Cadastre-se</button></a>
            <a class="botoes" href="user_register.html"><button class="btnLogin">Logar</button></a>
        </nav>
    </header>

    <div class="imagemMapaIndaiatuba">
        <img src="img/mapaIndaiatuba.png" alt="imagemMapaIndaiatuba">
    </div>

    <!-- Seção de farmácias -->
    <section class="farmacias">
        <h2>Farmácias Populares em Indaiatuba</h2>
        <ul>
            <li>Farmácia Popular Indaiatuba - Rua do Comércio, 123</li>
            <li>Farmácia Central - Avenida dos Trabalhadores, 456</li>
            <li>Farmácia São João - Rua das Flores, 789</li>
            <li>Farmácia da Cidade - Rua Principal, 101</li>
            <li>Farmácia Vida - Rua das Palmeiras, 202</li>
        </ul>
    </section>

    <script src="javaScript/produto.js"></script>
</body>

</html>