{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizar {{ item.nome_item }}</title>
    <link rel="stylesheet" href="{% static 'css/localizarRemedio.css' %}">
</head>

<body>

<header>
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/Logo_pequena.png' %}" alt="Busca Pharma"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <button class="register-btn"><a href="{% url 'cadastro' %}">Cadastrar-se</a></button>
        <button class="login-btn"><a href="{% url 'login' %}">Entrar</a></button>
    </div>
</header>

<!-- Mapa embutido -->
<div class="Mapa">
    <iframe id="map-frame" src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=default_location" 
            frameborder="2" allowfullscreen></iframe>
</div>

<!-- Seção de farmácias -->
<section class="farmacias">
    <h2>Disponibilidade de {{ item.nome_item }}</h2>
    <ul>
        {% for unidade_info in unidades_com_quantidade %}
            <li>
                <a href="javascript:void(0);" onclick="updateMap('{{ unidade_info.cep }}')">
                    <span class="{% if unidade_info.status == 'Aberto' %}status-aberto{% elif unidade_info.status == 'Fechado' %}status-fechado{% endif %}">
                        {{ unidade_info.unidade.nome }} - Quantidade: {{ unidade_info.quantidade_atual }} - CEP: {{ unidade_info.cep }} - Status: {{ unidade_info.status }}
                    </span>
                </a>
            </li>
        {% empty %}
            <li>Nenhuma unidade disponível para este item no momento.</li>
        {% endfor %}
    </ul>
</section>

<script>
    function updateMap(cep) {
        const iframe = document.getElementById('map-frame');
        iframe.src = `https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=${cep}`;
    }
</script>
</body>

</html>
