{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.0.nome_item }}</title>
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/Logo_pequena.png' %}" alt="BuscaPharma">
            </a>
        </div>

        <nav>
            <a class="linksExternos" href="{% url 'home' %}">Home</a>
            <a class="linksExternos" href="#">About</a>
            <a class="linksExternos" href="#">Agendamentos</a>
            <a class="linksExternos" href="#">Contact</a>
            <a class="botoes" href="{% url 'login' %}"><button class="btnRegister">Cadastre-se</button></a>
            <a class="botoes" href="{% url 'cadastro' %}"><button class="btnLogin">Logar</button></a>
        </nav>
    </header>

    <div class="product-gallery">
        <div class="thumbnails">
            <!-- Exemplo: Carregar dinamicamente as imagens -->
        </div>
        <div class="main-image">
            <img src="{% static 'img/capa-medicamentos-genericos.jpg' %}" alt="Imagem Principal" id="mainImage">
        </div>
    </div>

    <div class="prodDesc">
        <h1 class="titulo">{{ item.0.nome_item }}</h1>
        <br>
        <p>Componente Ativo: {{ item.0.comp_ativ_itm }}</p>
        <p>Categoria: {{ indicacao.categoria_remedio }}</p>
        <p>Precaução: {{ indicacao.precaucao }}</p>
        <p>Contra Indicação: {{ indicacao.contra_indicacao }}</p>
        <div class="button-container">
            <a href="{% url 'localizar_remedio' item.0.id_item %}"><button>Localizar Medicamento</button></a>
            <a href="#"><button>Agendar horário</button></a>
        </div>
    </div>




</body>

</html>
