<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esqueci a Senha</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/redefinir_senha.css' %}" />
  </head>

  <body>
    <div class="logoFundo">
      <img src="{% static 'img/Logo_Login.png' %}" alt="Logo" />
    </div>

    <div class="wrapper">
      <div class="form-box">
        <h2>Recuperar Senha</h2>
          {% if messages %}
            <div id="login-erro" class="error-message">
                {% for message in messages %}
                    <div>{{message}}</div>
                {% endfor %}
            </div>
            {% endif %}
        <form method="POST" action="{% url 'redefinir_senha' %}">
          {% csrf_token %}
          <div class="input-box">
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
            <input type="email" name="email" required placeholder="Digite seu email por favor">
          </div>
          <button type="submit" class="btn"><b>Enviar código</b></button>
          <div class="voltar">
            <a href="{% url 'login' %}" class="register-link">Voltar</a>
          </div>
        </form>
      </div>
    </div>
 <script>
        // Exibe a mensagem de erro se houver
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = document.getElementById('login-erro');
            if (errorMessage.innerText.trim() !== "") {
                errorMessage.style.display = 'block'; // Exibe a mensagem
            }
        });
    </script>
     <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();  // Evita o envio do formulário até validação
            let isValid = true;

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            const passwordError = document.getElementById('password-error');
            const confirmPasswordError = document.getElementById('confirm-password-error');

            const hasLowerCase = /[a-z]/.test(password);
            const hasUpperCase = /[A-Z]/.test(password);
            const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);

            // Limpar mensagens de erro
            passwordError.textContent = '';
            confirmPasswordError.textContent = '';
            passwordError.style.display = 'none';
            confirmPasswordError.style.display = 'none';

            // Validações de senha
            if (!password) {
                passwordError.textContent = 'A senha é obrigatória.';
                passwordError.style.display = 'block';
                isValid = false;
            } else if (!hasLowerCase) {
                passwordError.textContent = 'A senha deve conter pelo menos uma letra minúscula.';
                passwordError.style.display = 'block';
                isValid = false;
            } else if (!hasUpperCase) {
                passwordError.textContent = 'A senha deve conter pelo menos uma letra maiúscula.';
                passwordError.style.display = 'block';
                isValid = false;
            } else if (!hasSpecialChar) {
                passwordError.textContent = 'A senha deve conter pelo menos um caractere especial.';
                passwordError.style.display = 'block';
                isValid = false;
            } else if (password.length < 8) {
                passwordError.textContent = 'A senha deve conter pelo menos 8 dígitos.';
                passwordError.style.display = 'block';
                isValid = false;
            }

            // Validar confirmação da senha
            if (password !== confirmPassword) {
                confirmPasswordError.textContent = 'As senhas não são iguais.';
                confirmPasswordError.style.display = 'block';
                isValid = false;
            }

            if (isValid) {
                event.target.submit();  // Envia o formulário se todas as validações passarem
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
